// Our variables
$base-font-family: 'Raleway', sans-serif;

$text-color:#262625;;

$primary-color:#30b2e7;
$second-color:#e0023b;
$third-color:#3A3A3E;

$primary-color-dark:#3e3086;

$second-color-light:#eaeaea;
